* {
    margin: 5px 0px;
    padding: auto 30px;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

main {
    margin-left: 50px;
}

.menu {
    display: flex;
    padding: 0 30px;
}

nav {
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation li {
    list-style: none;
    margin: 10px;
}

.left-written {
    width: 40%;
    margin-top: 40px;
}

.left-camera {
    display: flex;
    justify-content: space-between;
}


/*============ button style ================ */

.button {
    outline: 0;
    border: 0;
    padding: 10px 15px;
    background-image: linear-gradient( #c21273, #FF008E);
    color: white;
    font-size: 19px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 9px 0 #a5075e;
}

.arrow {
    font-size: 25px;
}

.last-btn {
    text-align: center;
    text-transform: uppercase;
    margin-left: 1100px;
    margin-top: 25px;
}

.button:active {
    top: 5px;
    box-shadow: 0 1px 0 #a70953;
}


/*------------------ button end ---------------------- */

.camera {
    width: 50%;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 400px;
}

.camera img {
    width: 400px;
}

.camera img:hover {
    transform: rotate(360deg);
    transition: 3s;
    transition-timing-function: ease-out;
}

.navigation {
    display: flex;
}

.navigation li a {
    text-decoration: none;
    font-weight: 600;
    padding: 15px 10px;
    color: rgba(16, 181, 202, 0.986)
}

.heading {
    font-weight: 800;
    font-size: 27px;
}

.heading-1 {
    font-weight: 800;
    font-size: 30px;
}

.heading-2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 2em;
}

.up-logo {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: rgb(247, 200, 200) 1px solid;
    border-bottom: solid 1px wheat;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image-add {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.card {
    width: 380px;
    padding: 25px 30px;
    margin: 10px auto;
    box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.card .icons .filled {
    color: rgb(253, 215, 117);
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}


/*.................. footer style ...................... */

.foot {
    margin-top: 90px;
    background-color: rgb(30, 4, 65);
    text-align: center;
    color: ivory;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}


/*//////////// extra-css//////////////// */

.extra {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 50px;
}

.extra div img {
    width: 380px;
}

.deal {
    width: 60%;
    padding-right: 10em;
    margin-left: 60px;
    padding-left: 40px;
    text-align: left;
}


/*-------- responsive css--------- */

@media(max-width:960px) {
    .left-camera {
        flex-direction: column;
        /* padding-right: 30px; */
        justify-content: center;
        align-items: center;
    }
    .camera {
        margin-top: 25px;
        background-size: 400px;
    }
    .logo {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-add {
        grid-template-columns: repeat(2, 1fr);
    }
    .last-btn {
        margin-left: 218px;
        display: inline-block;
    }
    .heading {
        text-align: center;
    }
    /*======= exta ========= */
    .extra {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .deal {
        padding-left: 58px;
    }
}

@media (max-width: 750px) {
    .left-camera {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .camera img {
        width: 250px;
    }
    .camera {
        background-size: 250px;
    }
    .logo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-right: 0%;
        width: 80%;
    }
    .image-add {
        grid-template-columns: repeat(1, 1fr);
    }
    header nav div h1 {
        text-align: center;
        font-size: 20px;
        margin-left: 160px;
        margin-bottom: 0%;
    }
    .heading-1 {
        text-align: center;
        font-size: 22px;
    }
    .last-btn {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 40px;
    }
    .navigation {
        display: none;
    }
    .last-btn {
        margin-left: 320px;
        display: inline-block;
    }
    .extra {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .deal {
        margin-bottom: 40PX;
        padding-left: 0;
    }
}